<form action="/rooms/create" method="post">

<label for="">Room titile</label>
<input type="text" name="roomName" value="">

<label for="">breif description</label>
<textarea name="roomDetails" row="8" cols="20"></textarea>


<button name="button">Submit</button>


</form>


{{!-- <form  action="/rooms/create" method="post">

<label for=""> Please give your room a title</label>
  <input type="text" name="roomName" value="">

  <label for=""> Brief description of the room</label>
  <textarea name="roomDescription" rows="8" cols="80"></textarea>

  <button type="submit" name="button">Submit</button>

</form> --}}